#color{
    cursor:pointer ;
    border-radius: 6px ;

}

.button:hover{

    background-color: rgb(76, 76, 225) ;
    color: rgb(186, 222, 223) ;
    border: 3px rgb(186, 222, 223);
}



.button{
    background-color: rgb(186, 222, 223);
    padding: 6px;
    border: 2px solid blue;
    border-radius: 6px;
    color: blue;
    font-size: 14px;
    font-style: normal;
}